@charset "utf-8";
@import url("reset.css");
@font-face {font-family:'S-CoreDream-6Bold'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/S-CoreDream-6Bold.woff') format('woff'); font-weight: normal; font-style: normal; }

html,body{font-family:'S-CoreDream-6Bold',sans-serif;}
#bg{position:fixed;top:0px;left:0;width:100%;z-index:-1;overflow:hidden;}
#bg>svg{width:100%;height:100vh;}
.info{margin-top:20vh;width:100%;}
.info h2{font-size:6vh;line-height:20vh;text-align:center;}
.info h2 .name{font-size:10vh;color:#000000;margin-right:20px;}
.info h2 .job{padding:20px;color:#ffffff;background:#ff9f1c;}
.info p{width:70vw;margin:30px auto;font-size:3.4vh;word-break:keep-all;}
.info p span{color:#2e6bd1;}
.site_wrap{width:100%;height:auto;margin:auto;}
.site_wrap .img_wrap{width:80vw;height:auto;margin:auto;}
.site_wrap .img_wrap img{width:100%;}
.site_wrap .text_wrap{width:100%;height:auto;background:#fafafa;padding:30px;margin-top:-20px;font-size:16px;box-sizing:border-box;float:left;}
.site_wrap .num{margin-bottom:40px;}
.site_wrap h3{font-size:30px;margin-bottom:30px;}
.site_wrap .button_wrap{margin-top:50px;}
.site_wrap p{word-break:keep-all;}
.site_wrap a{display:inline-block;padding:8px 14px;font-size:15px;color:#2e6bd1;border:2px solid #2e6bd1;}
.site_wrap a:hover{color:#ffffff;background:#2e6bd1;}
.site_wrap.one{margin-top:50vh;}
.site_wrap.two, .site_wrap.three{margin-top:30vh;}
.old_wrap{width:100%;height:auto;margin:200px auto;}
.old_wrap h4{font-size:24px;text-align:center;margin-bottom:80px;}
.old_wrap .box{width:70vw;height:240px;margin:30px auto;}
.old_wrap .img_wrap{position:relative;width:100%;height:200px;overflow:hidden;cursor:pointer;}
.old_wrap .img_wrap img{width:100%;height:100%;}
.old_wrap .img_wrap .mask{position:absolute;top:-200px;left:0px;width:100%;height:100%;font-size:24px;line-height:200px;color:#ffffff;text-align:center;background:rgba(0,0,0,0.4);transition:all 0.3s;}
.old_wrap .img_wrap:hover .mask{top:0px;}
.old_wrap .box p{line-height:8vh;text-align:center;}
footer p{font-size:2vh;padding:30px 0px;color:#888888;background:#d6d6d6;text-align:center;}